.navbar {
  background-color: #252422;
  height: 60px;
  padding-right: 5px;
}

.nav-link {
  color: #fffcf2;

  &:hover {
    color: #FF8120;
  }
}

.nav-item {
  color: #fffcf2;
}

.logo {
  display: flex;
  justify-content: space-between;
}