<<<<<<< HEAD
// .navbar {
//   background-color: #252422;
//   // height: 60px;
// }
=======
.navbar {
  background-color: #252422;
  height: 60px;
  padding-right: 10px;
}
>>>>>>> 24167b57733a16faa78142027b09d1164fe4502a

.nav-link {
  color: #fffcf2;

  &.active{
    color: #ffe799;
  }

  &:hover {
    color: #FF8120;
  }
}

.nav-item {
  color: #fffcf2;
}

.logo{
display: flex;
justify-content:space-between;
}
