<div class="container">
    <br>
    <h2 class="display-4 shad">Check our Courses</h2>
    <h6 class="h6">Unleash your coding potential and stay ahead of the digital revolution</h6>

    <hr>
    <h4 class="h4 text-center">Our latest courses</h4>
    <br>
    <div class="flip" *ngFor="let course of courses; index as i">
        <div class="front" style="background-image: url({{course.img}});">
            <h1 class="text-shadow">{{course.name}}</h1>
        </div>
        <div class="back">
            <h2>{{course.name}}</h2>
            <p>{{course.description}}</p>
            <p>{{course.skillLevel}}</p>
            <a routerLink="/course/{{ i }}" class="btn">Learn More</a>
        </div>
    </div>
    <br>
    <hr>
    <br>
</div>
<br>
<div class="container">
    <br>
    <h2 class="display-4 shad">Stay informed</h2>
    <h6 class="h6">Unleash your coding potential and stay ahead of the digital revolution</h6>

    <hr>
    <h4 class="h4 text-center">Our latest news</h4>
    <br>
    <div class="flip" *ngFor="let new of news; index as i">
        <div class="front" style="background-image: url({{new.picture}});">
            <h1 class="text-shadow">{{new.name}}</h1>
        </div>
        <div class="back">
            <h2>{{new.name}}</h2>
            <p>{{new.about}}</p>
            <button class="btn" routerLink="/read-more/{{i}}">Read more...</button>
        </div>
    </div>
    <br>
    <hr>
    <br>
</div>