<div class="container">
    <br>
    <h2 class="display-4">Stay informed</h2>
<h6 class="h6">Some text here, a bit longer, like this is enough</h6>

<hr>
<h4 class="h4 text-center">Our latest news</h4>
<br>
<div class="flip" *ngFor="let new of news">
    <div class="front" style="background-image: url({{new.picture}});">
       <h1 class="text-shadow">{{new.name}}</h1>
    </div>
    <div class="back">
       <h2>{{new.name}}</h2>
       <p>{{new.about}}</p>
       <button class="btn">Read more...</button>
    </div>
</div>
<br>
<hr>
<br>
</div>

