<div class="body">
    <div class="container">
<section class="contact" id="contact">

    <form action="" [formGroup]="info" (ngSubmit)="onSubmit()" class="w-100">
        <h3>Contact Us</h3>
        <label class="required">Name:</label>
        <input type="text" placeholder="your name" class="box" formControlName="name" required minlength="4" required="">
        <p *ngIf="info.invalid && info.touched">
          <span *ngIf="info.controls.name.errors?.['required']">Name can't be empty</span>
          <span *ngIf="info.controls.name.errors?.['minlength']">Name must be 3 char at least</span>
      </p>
        <label class="required">Email:</label>
        <input type="email" placeholder="your email" class="box" formControlName="email" required minlength="4">
        <p *ngIf="info.invalid && info.touched">
          <span *ngIf="info.controls.email.errors?.['required']">Email can't be empty</span>
          <span *ngIf="info.controls.email.errors?.['minlength']">Email must be 3 char at least</span>
      </p>
        <label class="required">Phone Number:</label>
        <input type="phone-number" placeholder="your number" class="box" formControlName="phNum">
        <p *ngIf="info.invalid && info.touched">
          <span *ngIf="info.controls.phNum.errors?.['required']">Phone Number can't be empty</span>
      </p>
        <label class="required">Message:</label>
        <textarea name="" placeholder="your message" id="" cols="30" rows="10" formControlName="textMes" required minlength="10"></textarea>
        <p *ngIf="info.invalid && info.touched">
          <span *ngIf="info.controls.textMes.errors?.['required']">Message can't be empty</span>
          <span *ngIf="info.controls.textMes.errors?.['minlength']">Message must be 8  char at least</span>
      </p>
        <input type="submit" value="send message" class="btn">
        <div *ngIf="info.invalid" class="alert">
      <div *ngIf="info.errors?.['required']">
        Name is required.
      </div>
      <div *ngIf="info.errors?.['minlength']">
        Name must be at least 4 characters long.
      </div>
        </div>
    </form>
    
    </section>

    <br>
<hr>
<br>
<h2>You can find us here</h2>
<br>
<hr>
<br>
<div id="map" style="width:100%;height:500px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.633645376899!2d16.35918641565098!3d48.19440977922804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d0786e0e17d59%3A0x2310ddd54e572556!2sKettenbr%C3%BCckengasse%203%2C%201050%20Wien!5e0!3m2!1sen!2sat!4v1688384368659!5m2!1sen!2sat" width="100%" height="450" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
</div>