.body {
   background-color: #252422;
}
hr{
    background-color: #ccc5b9;
}
h2{
    text-align: center;
    color: #ccc5b9;
}
.contact {
    background: #FF8120;
    box-shadow: 0 0 10px #ccc5b9;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.contact form {
    padding: 3rem 10%;
   
}

.contact form h3 {
    font-family: 'PT Serif', serif;
    font-style:italic;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
    text-decoration: overline;
    
}
.contact form .box {
    width: 100%;
    border-width: .1rem;
    font-size: 1rem;
    text-transform: none;
    background-color: #fff;
    color: #FF8120;
    padding: 1rem ;
    margin: 1rem 0;
}

.contact form textarea {
    width: 100%;
    border-width: .1rem;
    font-size: 1rem;
    text-transform: none;
    color: #FF8120;
    padding: 1rem;
    margin: 1rem 0;
}

textarea {
    height: 15rem;
    resize: none;
}

.btn {
    display: inline-block;
    border-radius: 5rem;
    border-top-left-radius: 0;
    border: .15rem solid #252422;
    background: #fff;
    color: #403d39;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
    background: #ccc5b9;
    font-size: 1rem;
}



