.text {
    color: #1e1a13;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Caprasimo',
        cursive;
    font-size: medium;
}

.header {
    color: #272419;
    font-family: 'Caprasimo', cursive;
}

h1 {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.card-link {
    color: #ff8120;
}

.card-title {
    color: #403D39;
}
.gaps{
    gap: 20px;
}