<br>
<br>
<div class="container">

    <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-1 gaps">
        <div class="card" style="width: 15rem;">
            <img src="/assets/pfp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bogdan Moisoiu</h5>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Age: 21</li>
                <li class="list-group-item">Email:
                    <br> moisoiubogdanromeo@gmail.com
                </li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/BogdanMoisoiu" class="card-link">Github</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="/assets/pfp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Achmed Midajew</h5>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Age: </li>
                <li class="list-group-item">Email:
                    <br> achmed_midajew@hotmail.com
                </li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/achmed124" class="card-link">Github</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="/assets/pfp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Narek Shahverdyan</h5>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Age: 24</li>
                <li class="list-group-item">Email:
                    <br> narek.shahverdyan99@gmail.com
                </li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/UsernameIsAlwaysNotAvailable" class="card-link">Github</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="/assets/pfp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Winston Ngwa</h5>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Age: 42</li>
                <li class="list-group-item">Email:
                    <br> winston.ngwa@gmx.at
                </li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/Winston-N" class="card-link">Github</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="/assets/pfp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Natasa Cvrlja</h5>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Age: 28</li>
                <li class="list-group-item">Email:
                    <br> natasa.cvrlja@gmail.com
                </li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/Ncvrlja" class="card-link">Github</a>
            </div>
        </div>
    </div>
    <br>
    <div class="bg">
        <div>
            <h1 class="header">About Us</h1>
        </div>
        <div>
            <h6 class="text"> Welcome to CodeTech Solutions, a leading coding company dedicated to transforming ideas
                into
                innovative digital solutions. With a team of highly skilled developers and a passion for cutting-edge
                technology, we strive to deliver exceptional software products and services to our clients. </h6>
        </div>
        <div>
            <h1 class="header">Our Mission</h1>
        </div>
        <div>
            <h6 class="text">At CodeTech Solutions, our mission is to empower businesses and individuals with custom
                software solutions that drive growth and success. We believe that technology has the power to
                revolutionize
                industries and enhance user experiences, and we are committed to harnessing this power through our
                coding
                expertise.</h6>
        </div>
        <div>
            <h1 class="header">Our Expertise</h1>
        </div>
        <div>
            <h6 class="text">With years of experience in the field, our team of talented developers specializes in a
                wide
                range of programming languages, frameworks, and technologies. Whether it's web development, mobile app
                development, or software integration, we have the expertise to deliver robust and scalable solutions
                tailored to your unique needs.</h6>
        </div>
        <div>
            <h1 class="header">Our Approach</h1>
        </div>
        <div>
            <h6 class="text">We follow a collaborative and customer-centric approach to ensure the success of every
                project
                we undertake. We believe in working closely with our clients, understanding their goals and challenges,
                and
                translating their vision into functional and user-friendly software solutions. Our agile development
                process
                allows for flexibility and adaptability, ensuring that we meet deadlines and deliver high-quality
                results.
            </h6>
        </div>
        <div>
            <h1 class="header">Our Commitment to Quality</h1>
        </div>
        <div>
            <h6 class="text">Quality is at the core of everything we do. We are dedicated to delivering software
                solutions
                that not only meet industry standards but also exceed client expectations. Our rigorous testing
                procedures
                and attention to detail guarantee that our products are robust, secure, and performant.</h6>
        </div>
        <div>
            <h1 class="header">Contact Us</h1>
        </div>
        <div>
            <h6 class="text">If you're ready to take your business to the next level with innovative coding solutions,
                we
                would love to hear from you. Contact our team at CodeTech Solutions today to discuss your project
                requirements, and let's embark on a journey of digital transformation together.</h6>
        </div>
    </div>
    <br>