.text {
    color: #1e1a13;
    text-align: center;
    display: flex;
    justify-content: center;
    // font-family: 'Caprasimo',
    //     cursive;
    font-size: medium;
}

.header {
    color: #272419;
    // font-family: 'Caprasimo', cursive;
}

h1 {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.card-link {
    color: #ff8120;
}

.card-title {
    color: #403D39;
}

.gaps {
    gap: 20px;
}

.bg {
    background-color: #1e1a13;
    box-shadow: 0 0 80px grey;
    border-radius: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header {
    color: #ff8120;
}

.text {
    color: #fff2fc;
}