<div class="cartCard">
    <div class="bg-body-secondary d-flex">
        <p class="p-3 fw-bold">Cart - {{ length }} item(s)</p>
    </div>
    <div class="price">
        <p class="fw-bold">Total Price:${{ formattedTotal }}</p>
    </div>
    <div *ngIf="product">
        <p> {{ product.name }}</p>
    </div>
    
</div>
<div class="test">


<div *ngFor="let product of cart; index as i">
    <div class="border border-light-subtle cartBody d-flex">
        <img class="p-3" src="{{product.img}}" alt="">
        <div class="d-flex flex-column">
            <div class="p-3 text-center">
                <p class="fw-bold">{{ product.name }}</p>
                <p>{{ product.teacher }}</p>
                <p class="fw-bold">Price:${{ product.price }}</p>
            </div>
            <div class="btns">
                <button (click)="removeQuantity(i)" class="btn btn-danger"> - </button>
            
                <button class="btn btn-warning">{{ product.quantity}}</button>
            
                <button (click)="addQuantity(product.id)" class="btn btn-success"> + </button>
            
                <button (click)="removeFromCart(i)" class="btn btn-dark">delete</button>
            </div>
        </div>
    </div>
</div>
        
      