.col-info:hover>.popoverIcon {
    transform: scale(1.1);
}

.color {
    background-color: floralwhite;
}

.color2 {
    background-color: #252422;
    border-radius: 15px;
    height: 430px;
    padding-bottom: 20px;
    padding-top: 20px;

    
}

* {
    color: white;
}

.btns {
    padding: 6px;
}

.btn {
    background-color: #ff8120;
    color: #fffcf2;
    border-radius: 10px;

}

.card-text {
    color: #fffcf2;
    padding-top: 5px;
    padding-bottom: 5px;
}