<div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mt-4 text-center border border-black g-2">
        <div class="border border-black " *ngFor="let course of courses; index as i">
            <div class="card color">
                <div class="col-info">
                    <div class="popoverIcon">
                        <img style="width: 320px; height: 260px;" class="" src="{{course.img}}" alt="">
                    </div>
                    <div class="color2">
                        <h5 class="card-title mt-2">Course Name: {{ course.name }}</h5>
                        <p class="card-text">Teacher: {{ course.teacher }}</p>
                        <p class="card-text">{{ course.teachershort }}</p>
                        <p class="card-text">Skill Level: {{ course.skillLevel }}</p>
                        <p class="card-text">Location: {{ course.locationshort }}</p>
                        <p class="card-text">Duration: {{ course.duration }} days</p>
                        <hr>
                        <p class="card-text">Price: ${{ course.price }}</p>
                    </div>
                </div>

                <div class="d-flex justify-content-between btns">
                    <a routerLink="/course/{{ i }}" class="btn btn-primary">Details</a>
                    <button (click)="addToCart(course)" class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>