<app-hero></app-hero>
<app-news></app-news>
<div>
    <div class="testimonials">
        <h1 class="display-5 text-center">What do they say about us?</h1>
        <br>
        <h4 class="text-center head shad">Testimonials</h4>
        <p class="text-center"></p>
    </div>
    <div class="revs">
        <div class="review">
            <h4>Sara Doe</h4>
            <p><b>Course: HTML & CSS</b></p>
            <p>The HTML & CSS course was incredible. The instructor was knowledgeable and explained concepts well. The
                hands-on approach and supportive community made learning enjoyable. I highly recommend this course for
                beginners.</p>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <div class="review">
            <h4>Giath Serri</h4>
            <p><b>Course: Full Stack Web Development</b></p>
            <p>The Advanced Web Development Bootcamp covered a wide range of topics. The projects were rewarding, but
                the course support could be improved. It's suitable for individuals with some coding background who want
                to delve deeper into web development.</p>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star" style="color: gray"></span>
        </div>
        <div class="review">
            <h4>John Thomson</h4>
            <p><b>Course: Data Science with Python</b></p>
            <p>The Data Science with Python course was an excellent introduction. The instructor explained concepts
                well and emphasized real-world projects. Additional supplementary materials would have been beneficial.
                It's a great starting point for beginners in data science.</p>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star" style="color: gray"></span>
        </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-evenly align-items-center">
    <div>
        <h2 class="fw-bold text-light text-center">
            Become a Software Tester
        </h2>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/7qAC2f2lWfQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div>
        <h2 class="fw-bold text-light text-center">
            Become a Web Developer
        </h2>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/xZ99x77cgSk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>
<br>