<app-hero></app-hero>
<app-news></app-news>
<div>
    <div class="testimonials">
        <h1 class="display-5 text-center">What do they say about us?</h1>
        <br>
        <h4 class="text-center head shad">Testimonials</h4>
        <p class="text-center"></p>
    </div>
    <div>
        <div class="review">
            <h4>xy</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, id?</p>
        </div>
        <div class="review">
            <h4>xy</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, id?</p>
        </div>
        <div class="review">
            <h4>xy</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, id?</p>
        </div>
    </div>
</div>