<app-hero></app-hero>
<app-news></app-news>
<div>
    <div class="testimonials">
        <h1 class="display-5 text-center">What do they say about us?</h1>
        <br>
        <h4 class="text-center head shad">Testimonials</h4>
        <p class="text-center"></p>
    </div>
    <div class="revs">
        <div class="review">
            <h4>Sara Doe</h4>
            <p><b>Course: HTML & CSS</b></p>
            <p>The HTML & CSS course was incredible. The instructor was knowledgeable and explained concepts well. The hands-on approach and supportive community made learning enjoyable. I highly recommend this course for beginners.</p>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <div class="review">
            <h4>Sam Smith</h4>
            <p><b>Course: Full Stack Web Development</b></p>
            <p>The Advanced Web Development Bootcamp covered a wide range of topics. The projects were rewarding, but the course support could be improved. It's suitable for individuals with some coding background who want to delve deeper into web development.</p>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star" style="color: gray"></span>
        </div>
        <div class="review">
            <h4>John Tomson</h4>
            <p><b>Course: Data Science with Python</b></p>
            <p>LThe Data Science with Python course was an excellent introduction. The instructor explained concepts well and emphasized real-world projects. Additional supplementary materials would have been beneficial. It's a great starting point for beginners in data science.</p>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star" style="color: gray"></span>
        </div>
    </div>
</div>
<br>
<div class="container">
    <iframe src="/Team-5-Landing-Course/portfolio/src/assets/#wecreatedevelopers _ CodeFactory Vienna _.mp4" frameborder="1"></iframe>
    <video src="/Team-5-Landing-Course/portfolio/src/assets/Programmer life _ Programming Language _ Free HD Video - no copyright.mp4"></video>
</div>
<br>