.shad {
    text-shadow: 2px 2px gray;
}

.head {
    text-decoration: overline;
    text-decoration-thickness: 1px;
    text-transform: uppercase;
    font-size: 35px;
    color: #ff8120;
}

h4 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.fa {
    color:#ff8120;
}

.revs {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .review {
        width: 350px;
    }
}

.container {
    height: 450px;
    background-color: #ff8120;
    box-shadow: 0 0 30px gray;
}





@media only screen and (max-width: 800px) {
    .revs {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
}